@model Cadastro.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Dados do Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ative" /> @Html.DisplayNameFor(model => model.Ative)
                </label>
            </div>
            <div>
                <label asp-for="Client" class="control-label"></label>
                <select asp-for="ClientId" class="form-control">
                    @foreach (var client in Model.Clients)
                    {
                        if (client.Id == Model.ClientId)
                        {
                            <option value="@client.Id" selected>@client.Name</option>
                        }  
                        else 
                        {
                            <option value="@client.Id">@client.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
